<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  
  <link rel="stylesheet" href="style.css">
 
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </nav>
     
  <div class="container">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <input type="text" placeholder="Username"  name="userName"  required/>
      <input type="password" placeholder="Password" name="password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</body>
<footer class="footer">
    <p>&copy; 2025 Genpact & NGO Partnership - Codechain Devs</p>
</footer>
</html>