<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
</head>
<body>
    <h2 style="color: #1b4d84; text-align: center;">Thank you for completing the survey!</h2>
<p style="text-align: center; font-size: 18px;">Your response has been recorded and will help us improve our upskilling efforts.</p>
<p style="text-align: center; font-size: 18px;">Go To  <a href="/">Home</a> Page</p>
</body>
</html>